<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group5.tkpmgd.catchtheword">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CompleteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SavedvocActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EndgameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>